@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --main: white;
  --accent: gray;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Press Start 2P', cursive;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  width: 800px;
  font-size: 24px;
}

header img{
  height: 26px;
}

.navbarleft{
  text-transform: uppercase;
  display: inline;
}

.navbaritem{
  display: inline;
  padding: 8px;
}

/* .button{
  border: solid;
  vertical-align: middle;
  background-color: transparent;
  border-color: #e7e7e7;
  border-radius: 8px;
  color: black;
  transition: 0.2s;
}

.button img{
  height: 18px;
  vertical-align: middle;
}

.button:hover {
  transition: 0.2s;
  background: #e7e7e7;
} */

.playground {
  position: relative;
  width: 800px;
  height: 800px;
  background-image: url("assets/tiles.png");
  background-size: contain;
  background-repeat: repeat;
}

.player {
  position: absolute;
  width: 48px;
  height: 48px;
  background-image: url("assets/greenninja.png");
  background-size: cover;
}

.enemy1, .enemy2, .enemy3, .enemy4, .enemy5 {
  position: absolute;
  width: 48px;
  height: 48px;
  background-image: url("assets/enemy.png");
  background-size: cover;
}

.shot {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url("assets/shuriken.png");
  background-size: cover;
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.score{
  vertical-align: middle;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
