@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --main: white;
  --accent: gray;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  margin-left: 16px;
  margin-top: 16px;
  font-family: 'Press Start 2P', cursive;
}

body{

}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  width: calc(100vw - 32px)
}

.navbarleft{
  padding: 8px;
  text-transform: uppercase;
}

.navbarright{
  padding: 8px;
}

.navbaritem{
  display: inline;
  padding: 8px;
}

.button{
  border: solid;
  vertical-align: middle;
  background-color: transparent;
  border-color: #e7e7e7;
  border-radius: 8px;
  color: black;
  transition: 0.2s;
}

.button:hover {
  transition: 0.2s;
  background: #e7e7e7;
}

.playground {
  position: relative;
  width: calc(100vw - 32px);
  height: calc(100vh  - 96px);
  background-color: blue;
}

.player {
  position: absolute;
  background-color: red;
  width: 20px;
  height: 20px;
}

.enemy {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: green;
}

.shot {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: blue;
}
.score{
  vertical-align: middle;
}
