@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Press Start 2P', cursive;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  width: 800px;
  font-size: 24px;
}

.button{
  border: none;
  border: 2px solid #D3D3D3;
  background-color: white;
  height: 48px;
  width: 48px;
  border-radius: 8px;
  vertical-align: middle;
  transition: 0.3s;
}

.button img{
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

.button:hover {
  transition: 0.3s;
  background-color: #D3D3D3;
}

.navbarleft, .navbarright{
  text-transform: uppercase;
  display: inline;
}

.navbarleft img {
  height: 24px;
}

.navbaritem{
  display: inline;
  padding: 8px;
}

.playground {
  position: relative;
  width: 800px;
  height: 800px;
  background-image: url("assets/tiles.png");
  background-size: cover;
}

.player {
  position: absolute;
  width: 48px;
  height: 48px;
  background-image: url("assets/greenninja.png");
  background-size: cover;
}

.enemy{
  position: absolute;
  width: 48px;
  height: 48px;
  background-image: url("assets/enemy.png");
  background-size: cover;
}

.shot {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url("assets/shuriken.png");
  background-size: cover;
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.score{
  vertical-align: middle;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}